Avance 2 - Proyecto Final

In [1]:
from src.database.db_connector import DatabaseConnector

db = DatabaseConnector()
session = db.get_session()
print("✅ Conexión exitosa")

✅ Conexión exitosa

In [2]:
df = db.run_query("SELECT * FROM sales LIMIT 5")
df.head()

,sale_id,employee_id,customer_id,product_id,quantity,discount,total_price,sale_time,transaction_number
0,14,7,33133,406,9,0.00,63.00,39:52.0,VOP9A7Y4C5XSM2LLT0UJ\r
1,170,10,19039,377,5,0.00,50.00,33:40.0,VIIKLFPVD2D5U5E3NKKA\r
2,416,16,71212,351,19,0.00,304.00,40:57.4,QFA3F3LANPC6UVQBPYL2\r
3,486,23,93253,417,24,0.00,552.00,59:29.4,6H8SDUI9MCA1IXZ4UCUE\r
4,659,13,65151,147,17,0.20,221.00,27:58.9,1O062RUFV0LVAQ94G38J\r

Patrones de diseño

Patron factory

In [2]:
from src.factories.model_factory import ModelFactory

row = {
    "CustomerID": 1,
    "FirstName": "Juan",
    "MiddleInitial": "M",
    "LastName": "Perez",
    "CityID": 1,
    "Address": "martinez 123",
}

customer = ModelFactory.create_customer(row)
print(customer.__dict__)

{'_customer_id': 1, '_first_name': 'Juan', '_middle_initial': 'M', '_last_name': 'Perez', '_city_id': 1, '_address': 'martinez 123'}

Implementación del patron Builder

TESTS

In [6]:
!pytest -q test/ --tb=short

....                                                                     [100%]
4 passed in 0.04s